/*------------------ 
    Google Fonts
------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*------------------ 
     Typography
------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 900px;
}

.content-hide {
    display: none;
}


/*------------------ 
       Header
------------------*/
header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Banner */
.banner {
    height: 575px;
    display: flex;
    align-items: center;
    background: #1E2B47;
    padding-left: 70px;
    border-radius: 20px;
}

/* Banner Content */
.banner-content {
    width: 50%;
    margin-bottom: 25px;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 0;
}

.banner-content p {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.banner-content a {
    font-size: 18px;
    font-weight: 400;
    padding: 15px 25px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #c70c4a;
}

.banner-content:hover a {
    background-color: #FF246C;
    transition: 0.3s ease-in-out;
}

.banner-content a>i {
    margin-left: 10px;
}

/* Banner Image */
.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 582px;
}

/* Animation */
@keyframes messi {}


/*------------------ 
       Main
------------------*/
.main-container {
    display: flex;
    margin: 80px auto;
    width: 960px;

}

/* All Info */
.all-info {
    width: 20%;
    height: 185px;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    margin-left: 25px;
    background: #1E2B47;
    border-radius: 10px;
}

.all-info a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    background: #FFFFFF;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.all-info a:hover {
    background-color: #FF246C;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

#matches {
    margin-top: 5px;
}

.all-info .active {
    background-color: #c70c4a;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.all-info:hover #active {
    background-color: #FF246C;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}


/* All Content */
.all-content {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 15px;
    margin-left: 30px;
}

.content {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.content-img img {
    width: 220px;
    height: 150px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.content-button a {
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    text-align: center;
    text-decoration: none;
    padding: 3px 15px;
    margin: 10px 0 0 10px;
    border: 1px solid #333333;
    border-radius: 5px;
}

.content-button a:hover {
    background-color: #c70c4a;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
    border: none;
}

.content-title h2 {
    font-size: 16px;
    font-weight: 600;
    color: #161616;
    margin: 15px 0 0 10px;
}

.content-icons {
    display: flex;
    margin-top: 10px;
}

.content-icon {
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    padding: 0 15px 15px 0;
    margin-left: 10px;
}

.content-icon i {
    margin-right: 10px;
}

/*----------------------- 
    Upcoming Matches
-----------------------*/
.main-match-container {
    width: 900px;
}

.match-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 15px;
    margin-left: 20px;
}

.all-matches {
    background-color: #1E2B47;
    padding: 20px 20px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    text-align: center;
}

.flag {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flag img {
    width: 70px;
    height: 60px;
    border-radius: 5px;
}

.flag p {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 15px;
}

.fixtures h3 {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 30px 0 10px 0;
}

.fixtures p {
    font-size: 13px;
    font-weight: 400;
    color: #FF246C;
    margin-top: 0;
}

/*-------------
    Footer
-------------*/
.fifa-footer {
    background: #1E2B47;
    padding: 70px 0;
    text-align: center;
}

.fifa-footer p {
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
}

.fifa-footer hr {
    color: #B9B9B9;
    width: 900px;
    margin-bottom: 40px;
}

.footer-info a {
    font-size: 16px;
    font-weight: 500px;
    color: #B9B9B9;
    text-decoration: none;
    padding: 0 15px;
}

.footer-info a:hover {
    color: #FFFFFF;
    transition: 0.3s ease-in;
}

.social-media {
    margin-top: 50px;
}

.social-media a {
    font-size: 30px;
    font-weight: 500px;
    color: #B9B9B9;
    text-decoration: none;
    padding: 0 20px;
}

.social-media a .facebook {
    background-color: #067BEA;
    padding: 10px 12px;
    border-radius: 10px;
}

.social-media a .instagram {
    background-image: linear-gradient(45deg, #644DC5, #F75D3E);
    padding: 10px 8px;
    border-radius: 10px;
}

.social-media a .twitter {
    background-color: #1DA1F2;
    padding: 10px 7px;
    border-radius: 10px;
}

.social-media a:hover {
    color: #FFFFFF;
    transition: 0.3s ease-in;
}

.see-more {
    display: none;
}



/*----------------------------
     Responsive Design 
-----------------------------*/

/* Mobile Devices */
@media only screen and (max-width: 688px) {

    header,
    main {
        display: none;
    }

    header {
        margin-top: 0;
    }

    .container {
        width: 100%;
    }

    .banner {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-left: 0;
        text-align: center;
        border-radius: 0;
    }

    .banner-content {
        width: 100%;
    }

    .banner-content h1 {
        font-size: 9vw;
        margin: 50px 0 0 0;
        padding: 0 5px;
    }

    .banner-content p {
        font-size: 4vw;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .banner-content a {
        font-size: 4vw;
        padding: 15px 20px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 70%;
        height: 480px;
        margin-bottom: -6px;
    }

    /* main part */
    .main-container {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    .all-info {
        width: 40%;
        background: none;
        margin: 0 auto 20px auto;
    }

    .all-info a {
        background: #FFFFFF;
        text-align: center;
        font-size: 2.5vw;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #FF246C;
    }

    .content-img img {
        height: 300px;
        width: 100%;
    }

    .all-content {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    footer {
        width: 100%;
        overflow: hidden;
    }

}

/* Tablet Devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {

    .container {
        width: 100%;
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .banner-content h1 {
        font-size: 6vw;
    }

    .banner-content p {
        font-size: 2vw;
    }

    .banner-content a {
        font-size: 2vw;
    }

    .banner-img img {
        margin-bottom: -6px;
    }

    /* main part */
    .main-container {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }







    .content-img img {
        height: 250px;
        width: 100%;
    }

    .all-content {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 40px;
        margin: 0 auto;
        margin-top: 65px;
    }

    .display-hidden {
        display: none;
    }

    .all-info {
        width: 40%;
        margin: 0 auto;
        background: none;
        margin-top: 20px;
    }

    .all-info a {
        border: 1px solid #FF246C;
    }

    .see-more {
        display: block;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 20px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        background-color: #c70c4a;
        margin: 40px auto;
    }

    footer {
        display: none;
    }
}